<h2> Display Module Hard-coded</h2>
<div class="panel panel-primary" *ngFor="let img of images">
    <div class="panel-heading">Image Title: {{img.title}}</div>
    <div class="panel-body">
        <div class="col-md-2">
            <img [src]="img.url" class="img-size"> 
        </div>  
        <div class="col-md-4">
          <h3 class="pull-right">Order-ID: {{img.orderid}}</h3>
        </div>  
        <button class="btn btn-danger pull-right">Delete</button>
    </div>  
</div>

    <h2>Display module from HTTP server</h2>
    <div class="panel panel-primary" *ngFor="let img of imagesFromServer">
        <div class="panel-heading">Image Title: {{img.title}}</div>
        <div class="panel-body">
            <div class="col-md-2">
                <img [src]="img.url" class="img-size"> 
            </div>  
            <div class="col-md-4">
              <h3 class="pull-right">Order-ID: {{img.orderid}}</h3>
            </div>  
            <button class="btn btn-danger pull-right">Delete</button>
        </div>  
    
</div>